.box-header {
  width: 100%;
  height: 50px;
  background-color: #5B8B33;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-header .navbar-brand {
  color: #FFFFFF !important;
  font-size: 22px;
}

.box-head-gradient {
  width: 100%;
  height: 450px;
  position: relative;
}

.box-head-gradient .breadcrumb-box {
  margin-top: 80px;
}

.box-head-gradient .breadcrumb-section .breadcrumb {
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
}

.box-head-gradient .breadcrumb-section .breadcrumb li {
  color: #5B8B33;
}

.box-head-gradient .breadcrumb-section .breadcrumb a {
  text-decoration: none;
  color: #5B8B33;
}

.box-head-gradient .breadcrumb-section .breadcrumb .active {
  font-weight: bold;
}

.box-head-gradient .checkout .left-checkout {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px 30px 10px 20px;
  border: 1px solid #cccccc;
  line-height: 0.8;
  margin-bottom: 20px;
}

.box-head-gradient .checkout .left-checkout .title {
  font-size: 22px;
  font-weight: 600;
}

.box-head-gradient .checkout .left-checkout .detail-title {
  color: #9F9C9C;
  font-weight: 400;
}

.box-head-gradient .checkout .left-checkout .people-wrapper img {
  width: 40px;
  height: 40px;
  float: left;
  background-image: url("../images/foto/cropiqbal.jpg");
  margin: 0px 5px 10px 0px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-head-gradient .checkout .left-checkout .people-wrapper tr td {
  line-height: center;
}

.box-head-gradient .checkout .left-checkout table img {
  width: 20px;
  height: 20px;
}

.box-head-gradient .checkout .left-checkout .form-control {
  margin-bottom: 10px;
}

.box-head-gradient .checkout .left-checkout .alert-danger p {
  line-height: 1.1;
}

@media (min-width: 992px) {
  body {
    font-family: "Noto Sans" Sans-serif;
  }
  .box-header {
    width: 100%;
    height: 50px;
    background-color: #5B8B33;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box-header .navbar-brand {
    color: #FFFFFF !important;
    font-size: 22px;
  }
  .box-head-gradient {
    width: 100%;
    height: 450px;
    position: relative;
  }
  .box-head-gradient .breadcrumb-box {
    margin-top: 80px;
  }
  .box-head-gradient .breadcrumb-section .breadcrumb {
    background-color: transparent;
    font-family: 'Noto Sans', sans-serif;
  }
  .box-head-gradient .breadcrumb-section .breadcrumb li {
    color: #5B8B33;
  }
  .box-head-gradient .breadcrumb-section .breadcrumb a {
    text-decoration: none;
    color: #5B8B33;
  }
  .box-head-gradient .breadcrumb-section .breadcrumb .active {
    font-weight: bold;
  }
  .box-head-gradient .checkout .left-checkout {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 10px 10px 20px;
    border: 1px solid #cccccc;
    line-height: 0.8;
  }
  .box-head-gradient .checkout .left-checkout .title {
    font-size: 22px;
    font-weight: 600;
  }
  .box-head-gradient .checkout .left-checkout .detail-title {
    color: #9F9C9C;
    font-weight: 400;
  }
  .box-head-gradient .checkout .left-checkout .people-wrapper img {
    width: 40px;
    height: 40px;
    float: left;
    background-image: url("../images/foto/cropiqbal.jpg");
    margin: 0px 5px 10px 0px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-head-gradient .checkout .left-checkout .people-wrapper tr td {
    line-height: center;
  }
  .box-head-gradient .checkout .left-checkout table img {
    width: 20px;
    height: 20px;
  }
  .box-head-gradient .checkout .right-checkout {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 10px 10px 20px;
    border: 1px solid #cccccc;
    line-height: 0.8;
  }
  .box-head-gradient .checkout .right-checkout .title-information {
    font-size: 18px;
  }
  .box-head-gradient .checkout .right-checkout .info-detail {
    width: 100%;
    font-size: 14px;
    opacity: 0.5;
    line-height: 1.3;
  }
  .box-head-gradient .checkout .right-checkout .info-bank {
    width: 100%;
    font-size: 14px;
    line-height: 1.3;
  }
  .box-head-gradient .checkout .right-checkout .info-bank img {
    width: 100px;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box-head-gradient .checkout .right-checkout .info-bank .float-right p {
    line-height: 1.2 !important;
  }
}
/*# sourceMappingURL=checkout.css.map */