body {
    font-family: 'Noto Sans'sans-serif;
}

.box-header {
    width: 100%;
    height: 50px;
    background-color: #5B8B33;
    align-items: center;

    .navbar-brand {
        color: #FFFFFF !important;
        font-size: 22px;
    }
}

.box-head-gradient {
    width: 100%;
    height: 450px;
    // background: linear-gradient(to bottom, #B8B8B8, #FFFFFF);
    position: relative;

    .breadcrumb-box {
        margin-top: 80px;
    }

    .breadcrumb-section {
        .breadcrumb {
            background-color: transparent;
            font-family: 'Noto Sans', sans-serif;

            li {
                color: #5B8B33;
            }

            a {
                text-decoration: none;
                color: #5B8B33;
            }

            .active {
                font-weight: bold;
            }
        }
    }

    .con {
        display: flex;
        align-items: center;
    }

    .confirmation-box {
        width: 80%;
        margin-top: 30px;
        border: 1px solid #cccccc;
        padding: 20px;
        border-radius: 10px;

        h6 {
            font-weight: bold !important;
        }

        p {
            font-size: 14px;
            color: #9F9C9C;
        }

        .box-img {
            margin-top: 50px;

            svg {
                width: 5em;
                height: 5em;
            }

            p {
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }
}

.footer {
    margin-top: 80px;
    border-top: 1px solid #dbdbdb;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    /* opacity: 0.5; */
    background-color: #5B8B33;
}

.footer p {
    opacity: 0.5;
    color: white;
}








@media (min-width: 992px) {
    body {
        font-family: 'Noto Sans'sans-serif;
    }

    .box-header {
        width: 100%;
        height: 50px;
        background-color: #5B8B33;
        align-items: center;

        .navbar-brand {
            color: #FFFFFF !important;
            font-size: 22px;
        }
    }

    .box-head-gradient {
        width: 100%;
        height: 450px;
        // background: linear-gradient(to bottom, #B8B8B8, #FFFFFF);
        position: relative;

        .breadcrumb-box {
            margin-top: 80px;
        }

        .breadcrumb-section {
            .breadcrumb {
                background-color: transparent;
                font-family: 'Noto Sans', sans-serif;

                li {
                    color: #5B8B33;
                }

                a {
                    text-decoration: none;
                    color: #5B8B33;
                }

                .active {
                    font-weight: bold;
                }
            }
        }

        .con {
            display: flex;
            align-items: center;
        }

        .confirmation-box {
            width: 80%;
            margin-top: 30px;
            border: 1px solid #cccccc;
            padding: 20px;
            border-radius: 10px;

            h6 {
                font-weight: bold !important;
            }

            p {
                font-size: 14px;
                color: #9F9C9C;
            }

            .box-img {
                margin-top: 50px;

                svg {
                    width: 10em;
                    height: 10em;
                }

                p {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer {
        margin-top: 80px;
        border-top: 1px solid #dbdbdb;
        margin-bottom: 0px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 5px;
        /* opacity: 0.5; */
        background-color: #5B8B33;
    }

    .footer p {
        opacity: 0.5;
        color: white;
    }

}