body{
    font-family: 'Noto Sans' sans-serif;
}

.box-head-gradient {
    width: 100%;
    height: 450px;
    // background: linear-gradient(to bottom , #B8B8B8, #FFFFFF);
    position: relative;

    .breadcrumb-box{
        margin-top: 100px;
    }

    .breadcrumb-section{
        .breadcrumb{
            background-color: transparent ;
            font-family: 'Noto Sans', sans-serif;

            li{
                color: #5B8B33;
            }

            a{
                text-decoration: none;
                color: #5B8B33;
            }

            .active{
               font-weight: bold;
            }
        }
    }

    // detail
    .wrapper-left{
        width: 100%;
        height: auto;
        margin-right: 100px;
        background-color: #FFFFFF !important;
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #cccccc;
        margin-bottom: 100px;

        .title-detail{
            line-height: 0.5;

            .detail-place{
                font-weight: 600;
                font-size: 18px;
            }

            .detail-country{
                font-size: 16px;
                font-weight: 300;
                opacity: 0.5;
            }
        }

        .stars-detail{
            // padding-left: 65px;
            margin-bottom: 20px;
            
            svg{
                color: #FAC917;
            }
        }

        .img-wrapper{
            img{
                width: 100%;
                padding-bottom: 20px;
            }
        }

        .about{
            margin-bottom: 25px;
            h5{
                font-weight: 600;
            }
            p{
                opacity: 0.5;
            }
        }

        .package-place{
            img{
                width: 50px;
                height: 50px;
            }

            .package-title{
                padding-top: 6px;
                line-height: 0.3;
                font-weight: 600;

                .desc-pack{
                    opacity: 0.5;
                }
            }
        }

    }
    

    .wrapper-right{
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 20px 10px 10px 10px;
        border: 1px solid #cccccc;

        .tombol {
            border-radius: 5px;
            background-color: #76B840;
            border: none;
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF !important;
            padding-left: 30px;
            padding-right: 30px;
            font-weight: bold;
        }

        .box-icon-people{
            // float: right;

            .people-wrapper{
                img{
                    width: 40px;
                    height: 40px;
                    float: left;
                    background-image: url("../images/foto/cropiqbal.jpg");
                    margin: 0px 5px 10px 0px;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .more-people{
                    width: 40px;
                    height: 40px;
                    background-color: #cccccc;
                    float: left;
                    margin: 0px 10px 10px 0px;
                    border-radius: 50%;
                    line-height: 50%;
                    display:flex;
                    align-items:center;

                    p{
                        margin: 0 auto;
                        color: #5B8B33;
                    }
                }
            }
            
            .clear{
                clear: left;
            }
        }

        .title-information, .title-member{
            font-size: 18px;
            font-weight: 600;
        }

        .detail-trip{
            line-height: 0;
            font-size: 14px;
            margin-bottom: 10px;

            .kanan p{
                float: right;
                font-size: 14px;
                opacity: 0.5;
                color: black;
            }
        }
    }

    .wrapper-right-btm{
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 20px 10px 20px 10px;
        border: 1px solid #cccccc;
        margin-top: 20px;

        #carouselExampleIndicators{
            display:flex;
            align-items:center;

            .carousel-inner{
                width: 80%;
                margin: 0 auto;
            }

            .carousel-control-next-icon, .carousel-control-prev-icon{
                background-color: #76B840 !important;
                border-radius: 50%;
                padding:5px;
            }
        }


        .title-member{
            font-weight: 600;
            text-align: center;
        }

        .carousel-inner{
            align-items: center;
            display: flex;

            .carousel-item{
                margin: 0 auto;
            }

            .isi-testi{
                align-items: center;
                width: 100%;
                img{
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    margin-left: 70px;
                    margin-bottom: 10px;
                }
                
                p{
                    font-size: 12px;
                    opacity: 0.6;
                    margin-left: 10px;
                    text-align: center;
                }
            }
        }
    }


}

// navigation bar
.navbar{
    margin-bottom: 130px;
    position: fixed;
    z-index: 200;
    width: 100%;
    left: 0px;
    transition: 0.5s;
    background-color: white;
    font-family: 'Noto Sans', sans-serif;

    #navbarNavAltMarkup{
        a {
            color: #5B8B33;
        }
    }

    .navbar-brand {
        color: #5B8B33 !important;
        z-index: 4;
    }

    .tombol {
        border-radius: 5px;
        background-color: #dec62c;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF !important;
        padding-left: 30px;
        padding-right: 30px;
    }

}


.scroll-nav {
    // position: fixed;
    z-index: 200;
    width: 100%;
    left: 0px;
    background-color: rgba(91, 139, 51, 0.8) !important;
    transition: 0.5s;
    font-family: 'Noto Sans', sans-serif;

    .nav-link{
        color: #F8FBF6 !important;
    }

    .navbar-brand {
        color: #FFFFFF !important;
        z-index: 4;
        font-size: 22px;
        transition: 0.8s;
    }

    .tombol{
        background-color: #dec62c !important;
    }
}














// dekstop version
@media (min-width: 992px) {
    body{
        font-family: 'Noto Sans' sans-serif;
    }
    .box-head-gradient {
        width: 100%;
        height: 450px;
        // background: linear-gradient(to bottom , #B8B8B8, #FFFFFF);
        position: relative;
    
        .breadcrumb-box{
            margin-top: 100px;
        }
    
        .breadcrumb-section{
            .breadcrumb{
                background-color: transparent ;
                font-family: 'Noto Sans', sans-serif;
    
                li{
                    color: #5B8B33;
                }
    
                a{
                    text-decoration: none;
                    color: #5B8B33;
                }
    
                .active{
                   font-weight: bold;
                }
            }
        }
    
        // detail
            .wrapper-left{
                width: 100%;
                height: auto;
                margin-right: 100px;
                background-color: #FFFFFF !important;
                border-radius: 10px;
                padding: 20px;
                border: 1px solid #cccccc;
    
                .title-detail{
                    line-height: 0.5;
    
                    .detail-place{
                        font-weight: 600;
                        font-size: 18px;
                    }
    
                    .detail-country{
                        font-size: 16px;
                        font-weight: 300;
                        opacity: 0.5;
                    }
                }
    
                .stars-detail{
                    padding-left: 65px;
                    
                    svg{
                        color: #FAC917;
                    }
                }

                .img-wrapper{
                    img{
                        width: 100%;
                        padding-bottom: 20px;
                    }
                }

                .about{
                    margin-bottom: 25px;
                    h5{
                        font-weight: 600;
                    }
                    p{
                        opacity: 0.5;
                    }
                }

                .package-place{
                    img{
                        width: 50px;
                        height: 50px;
                    }

                    .package-title{
                        padding-top: 6px;
                        line-height: 0.3;
                        font-weight: 600;

                        .desc-pack{
                            opacity: 0.5;
                        }
                    }
                }

            }

            .wrapper-right{
                width: 100%;
                height: auto;
                background-color: #FFFFFF;
                border-radius: 10px;
                padding: 20px 10px 10px 10px;
                border: 1px solid #cccccc;

                .tombol {
                    border-radius: 5px;
                    background-color: #76B840;
                    border: none;
                    font-size: 14px;
                    font-weight: 500;
                    color: #FFFFFF !important;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-weight: bold;
                }

                .box-icon-people{
                    // float: right;

                    .people-wrapper{
                        img{
                            width: 40px;
                            height: 40px;
                            float: left;
                            background-image: url("../images/foto/cropiqbal.jpg");
                            margin: 0px 5px 10px 0px;
                            border-radius: 50%;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }

                        .more-people{
                            width: 40px;
                            height: 40px;
                            background-color: #cccccc;
                            float: left;
                            margin: 0px 10px 10px 0px;
                            border-radius: 50%;
                            line-height: 50%;
                            display:flex;
                            align-items:center;

                            p{
                                margin: 0 auto;
                                color: #5B8B33;
                            }
                        }
                    }
                    
                    .clear{
                        clear: left;
                    }
                }

                .title-information, .title-member{
                    font-size: 18px;
                    font-weight: 600;
                }

                .detail-trip{
                    line-height: 0.6;
                    font-size: 14px;
                    margin-bottom: 10px;

                    .kanan p{
                        float: right;
                        font-size: 14px;
                        opacity: 0.5;
                        color: black;
                    }
                }
            }

            .wrapper-right-btm{
                width: 100%;
                height: auto;
                background-color: #FFFFFF;
                border-radius: 10px;
                padding: 20px 10px 20px 10px;
                border: 1px solid #cccccc;
                margin-top: 20px;

                #carouselExampleIndicators{
                    display:flex;
                    align-items:center;

                    .carousel-inner{
                        width: 80%;
                        margin: 0 auto;
                    }

                    .carousel-control-next-icon, .carousel-control-prev-icon{
                        background-color: #76B840 !important;
                        border-radius: 50%;
                        padding:5px;
                    }
                }


                .title-member{
                    font-weight: 600;
                    text-align: center;
                }

                .carousel-inner{
                    .isi-testi{
                        align-items: center;
                        width: 100%;
                        img{
                            width: 90px;
                            height: 90px;
                            border-radius: 50%;
                            margin-left: 20px;
                        }
                        
                        p{
                            font-size: 12px;
                            opacity: 0.6;
                            margin-left: 10px;
                        }
                    }
                }
            }
     
    
    }

    // navigation bar
    .navbar{
        margin-bottom: 130px;
        position: fixed;
        z-index: 200;
        width: 100%;
        left: 0px;
        transition: 0.5s;
        font-family: 'Noto Sans', sans-serif;
        background-color: transparent;
    
        #navbarNavAltMarkup{
            a {
                color: #5B8B33;
            }
        }
        
 
        .navbar-brand {
            color: #5B8B33 !important;
            z-index: 4;
        }
    
        .tombol {
            border-radius: 5px;
            background-color: #76B840;
            border: none;
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF !important;
            padding-left: 30px;
            padding-right: 30px;
            margin-left: 20px;
        }
    
    }
    
    .scroll-nav {
        // position: fixed;
        z-index: 200;
        width: 100%;
        left: 0px;
        // background-color: rgba(91, 139, 51, 0.8);
        transition: 0.5s;
        font-family: 'Noto Sans', sans-serif;
    
        .nav-link{
            color: #F8FBF6 !important;
        }
    
        .tombol{
            background-color: #dec62c !important;
        }

        .navbar-brand {
            color: #FFFFFF !important;
            z-index: 4;
        }
    }
    
    
    
}