body {
  font-family: 'Noto Sans' sans-serif;
}

.box-head-gradient {
  width: 100%;
  height: 450px;
  position: relative;
}

.box-head-gradient .breadcrumb-box {
  margin-top: 100px;
}

.box-head-gradient .breadcrumb-section .breadcrumb {
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
}

.box-head-gradient .breadcrumb-section .breadcrumb li {
  color: #5B8B33;
}

.box-head-gradient .breadcrumb-section .breadcrumb a {
  text-decoration: none;
  color: #5B8B33;
}

.box-head-gradient .breadcrumb-section .breadcrumb .active {
  font-weight: bold;
}

.box-head-gradient .wrapper-left {
  width: 100%;
  height: auto;
  margin-right: 100px;
  background-color: #FFFFFF !important;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #cccccc;
  margin-bottom: 100px;
}

.box-head-gradient .wrapper-left .title-detail {
  line-height: 0.5;
}

.box-head-gradient .wrapper-left .title-detail .detail-place {
  font-weight: 600;
  font-size: 18px;
}

.box-head-gradient .wrapper-left .title-detail .detail-country {
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
}

.box-head-gradient .wrapper-left .stars-detail {
  margin-bottom: 20px;
}

.box-head-gradient .wrapper-left .stars-detail svg {
  color: #FAC917;
}

.box-head-gradient .wrapper-left .img-wrapper img {
  width: 100%;
  padding-bottom: 20px;
}

.box-head-gradient .wrapper-left .about {
  margin-bottom: 25px;
}

.box-head-gradient .wrapper-left .about h5 {
  font-weight: 600;
}

.box-head-gradient .wrapper-left .about p {
  opacity: 0.5;
}

.box-head-gradient .wrapper-left .package-place img {
  width: 50px;
  height: 50px;
}

.box-head-gradient .wrapper-left .package-place .package-title {
  padding-top: 6px;
  line-height: 0.3;
  font-weight: 600;
}

.box-head-gradient .wrapper-left .package-place .package-title .desc-pack {
  opacity: 0.5;
}

.box-head-gradient .wrapper-right {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px 10px 10px 10px;
  border: 1px solid #cccccc;
}

.box-head-gradient .wrapper-right .tombol {
  border-radius: 5px;
  background-color: #76B840;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF !important;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
}

.box-head-gradient .wrapper-right .box-icon-people .people-wrapper img {
  width: 40px;
  height: 40px;
  float: left;
  background-image: url("../images/foto/cropiqbal.jpg");
  margin: 0px 5px 10px 0px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-head-gradient .wrapper-right .box-icon-people .people-wrapper .more-people {
  width: 40px;
  height: 40px;
  background-color: #cccccc;
  float: left;
  margin: 0px 10px 10px 0px;
  border-radius: 50%;
  line-height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-head-gradient .wrapper-right .box-icon-people .people-wrapper .more-people p {
  margin: 0 auto;
  color: #5B8B33;
}

.box-head-gradient .wrapper-right .box-icon-people .clear {
  clear: left;
}

.box-head-gradient .wrapper-right .title-information, .box-head-gradient .wrapper-right .title-member {
  font-size: 18px;
  font-weight: 600;
}

.box-head-gradient .wrapper-right .detail-trip {
  line-height: 0;
  font-size: 14px;
  margin-bottom: 10px;
}

.box-head-gradient .wrapper-right .detail-trip .kanan p {
  float: right;
  font-size: 14px;
  opacity: 0.5;
  color: black;
}

.box-head-gradient .wrapper-right-btm {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  border: 1px solid #cccccc;
  margin-top: 20px;
}

.box-head-gradient .wrapper-right-btm #carouselExampleIndicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-head-gradient .wrapper-right-btm #carouselExampleIndicators .carousel-inner {
  width: 80%;
  margin: 0 auto;
}

.box-head-gradient .wrapper-right-btm #carouselExampleIndicators .carousel-control-next-icon, .box-head-gradient .wrapper-right-btm #carouselExampleIndicators .carousel-control-prev-icon {
  background-color: #76B840 !important;
  border-radius: 50%;
  padding: 5px;
}

.box-head-gradient .wrapper-right-btm .title-member {
  font-weight: 600;
  text-align: center;
}

.box-head-gradient .wrapper-right-btm .carousel-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-head-gradient .wrapper-right-btm .carousel-inner .carousel-item {
  margin: 0 auto;
}

.box-head-gradient .wrapper-right-btm .carousel-inner .isi-testi {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.box-head-gradient .wrapper-right-btm .carousel-inner .isi-testi img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 70px;
  margin-bottom: 10px;
}

.box-head-gradient .wrapper-right-btm .carousel-inner .isi-testi p {
  font-size: 12px;
  opacity: 0.6;
  margin-left: 10px;
  text-align: center;
}

.navbar {
  margin-bottom: 130px;
  position: fixed;
  z-index: 200;
  width: 100%;
  left: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
}

.navbar #navbarNavAltMarkup a {
  color: #5B8B33;
}

.navbar .navbar-brand {
  color: #5B8B33 !important;
  z-index: 4;
}

.navbar .tombol {
  border-radius: 5px;
  background-color: #dec62c;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF !important;
  padding-left: 30px;
  padding-right: 30px;
}

.scroll-nav {
  z-index: 200;
  width: 100%;
  left: 0px;
  background-color: rgba(91, 139, 51, 0.8) !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Noto Sans', sans-serif;
}

.scroll-nav .nav-link {
  color: #F8FBF6 !important;
}

.scroll-nav .navbar-brand {
  color: #FFFFFF !important;
  z-index: 4;
  font-size: 22px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.scroll-nav .tombol {
  background-color: #dec62c !important;
}

@media (min-width: 992px) {
  body {
    font-family: 'Noto Sans' sans-serif;
  }
  .box-head-gradient {
    width: 100%;
    height: 450px;
    position: relative;
  }
  .box-head-gradient .breadcrumb-box {
    margin-top: 100px;
  }
  .box-head-gradient .breadcrumb-section .breadcrumb {
    background-color: transparent;
    font-family: 'Noto Sans', sans-serif;
  }
  .box-head-gradient .breadcrumb-section .breadcrumb li {
    color: #5B8B33;
  }
  .box-head-gradient .breadcrumb-section .breadcrumb a {
    text-decoration: none;
    color: #5B8B33;
  }
  .box-head-gradient .breadcrumb-section .breadcrumb .active {
    font-weight: bold;
  }
  .box-head-gradient .wrapper-left {
    width: 100%;
    height: auto;
    margin-right: 100px;
    background-color: #FFFFFF !important;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #cccccc;
  }
  .box-head-gradient .wrapper-left .title-detail {
    line-height: 0.5;
  }
  .box-head-gradient .wrapper-left .title-detail .detail-place {
    font-weight: 600;
    font-size: 18px;
  }
  .box-head-gradient .wrapper-left .title-detail .detail-country {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
  }
  .box-head-gradient .wrapper-left .stars-detail {
    padding-left: 65px;
  }
  .box-head-gradient .wrapper-left .stars-detail svg {
    color: #FAC917;
  }
  .box-head-gradient .wrapper-left .img-wrapper img {
    width: 100%;
    padding-bottom: 20px;
  }
  .box-head-gradient .wrapper-left .about {
    margin-bottom: 25px;
  }
  .box-head-gradient .wrapper-left .about h5 {
    font-weight: 600;
  }
  .box-head-gradient .wrapper-left .about p {
    opacity: 0.5;
  }
  .box-head-gradient .wrapper-left .package-place img {
    width: 50px;
    height: 50px;
  }
  .box-head-gradient .wrapper-left .package-place .package-title {
    padding-top: 6px;
    line-height: 0.3;
    font-weight: 600;
  }
  .box-head-gradient .wrapper-left .package-place .package-title .desc-pack {
    opacity: 0.5;
  }
  .box-head-gradient .wrapper-right {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    border: 1px solid #cccccc;
  }
  .box-head-gradient .wrapper-right .tombol {
    border-radius: 5px;
    background-color: #76B840;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF !important;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
  }
  .box-head-gradient .wrapper-right .box-icon-people .people-wrapper img {
    width: 40px;
    height: 40px;
    float: left;
    background-image: url("../images/foto/cropiqbal.jpg");
    margin: 0px 5px 10px 0px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-head-gradient .wrapper-right .box-icon-people .people-wrapper .more-people {
    width: 40px;
    height: 40px;
    background-color: #cccccc;
    float: left;
    margin: 0px 10px 10px 0px;
    border-radius: 50%;
    line-height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box-head-gradient .wrapper-right .box-icon-people .people-wrapper .more-people p {
    margin: 0 auto;
    color: #5B8B33;
  }
  .box-head-gradient .wrapper-right .box-icon-people .clear {
    clear: left;
  }
  .box-head-gradient .wrapper-right .title-information, .box-head-gradient .wrapper-right .title-member {
    font-size: 18px;
    font-weight: 600;
  }
  .box-head-gradient .wrapper-right .detail-trip {
    line-height: 0.6;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .box-head-gradient .wrapper-right .detail-trip .kanan p {
    float: right;
    font-size: 14px;
    opacity: 0.5;
    color: black;
  }
  .box-head-gradient .wrapper-right-btm {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    border: 1px solid #cccccc;
    margin-top: 20px;
  }
  .box-head-gradient .wrapper-right-btm #carouselExampleIndicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box-head-gradient .wrapper-right-btm #carouselExampleIndicators .carousel-inner {
    width: 80%;
    margin: 0 auto;
  }
  .box-head-gradient .wrapper-right-btm #carouselExampleIndicators .carousel-control-next-icon, .box-head-gradient .wrapper-right-btm #carouselExampleIndicators .carousel-control-prev-icon {
    background-color: #76B840 !important;
    border-radius: 50%;
    padding: 5px;
  }
  .box-head-gradient .wrapper-right-btm .title-member {
    font-weight: 600;
    text-align: center;
  }
  .box-head-gradient .wrapper-right-btm .carousel-inner .isi-testi {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .box-head-gradient .wrapper-right-btm .carousel-inner .isi-testi img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 20px;
  }
  .box-head-gradient .wrapper-right-btm .carousel-inner .isi-testi p {
    font-size: 12px;
    opacity: 0.6;
    margin-left: 10px;
  }
  .navbar {
    margin-bottom: 130px;
    position: fixed;
    z-index: 200;
    width: 100%;
    left: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-family: 'Noto Sans', sans-serif;
    background-color: transparent;
  }
  .navbar #navbarNavAltMarkup a {
    color: #5B8B33;
  }
  .navbar .navbar-brand {
    color: #5B8B33 !important;
    z-index: 4;
  }
  .navbar .tombol {
    border-radius: 5px;
    background-color: #76B840;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF !important;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
  }
  .scroll-nav {
    z-index: 200;
    width: 100%;
    left: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-family: 'Noto Sans', sans-serif;
  }
  .scroll-nav .nav-link {
    color: #F8FBF6 !important;
  }
  .scroll-nav .tombol {
    background-color: #dec62c !important;
  }
  .scroll-nav .navbar-brand {
    color: #FFFFFF !important;
    z-index: 4;
  }
}
/*# sourceMappingURL=detail.css.map */