body {
    background-color: #dee3e1;
    font-family: 'Assistant', sans-serif;
    // color:#1ABC9C;
}

navbar-brand {
    h3{
        max-height: 40px;
    }
}

.nav-item {
    margin-top: 4px !important;
    margin-bottom:  -8px !important;
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom:  -8px !important;
    margin-right: -32px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #1ABC9C;
    color:#fff;

    &:hover {
        background-color: #69c9a3;
        color:#fff; 
    }
}


// header
header {
    padding: 180px 0px 165px 0px;
    background-image: url(../images/banner-bromo.jpg);
    background-size: cover;
    margin-top: -70px;

    h1, p {
        color: #fff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: salmon;
        color: #fff;

        &:hover {
           background-color:  #ffaa69;
           color: #fff;   
        }
    }
}

// statistic
.section-stats {
    margin-top: -50px;
}

.stats-detail {
    padding-top: 15px;
    background-color: #fff;
    padding-left: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
}

p{
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

// popular
.section-popular {
    min-height: 540px;
    background-color: #1ABC9C;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2,p {
            color: #fff;
        }

        h2 {
            font-family: 'Playfair Display',serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}
