body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
}

navbar-brand h3 {
  max-height: 40px;
}

.nav-item {
  margin-top: 4px !important;
  margin-bottom: -8px !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -32px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #1ABC9C;
  color: #fff;
}

.btn-login:hover {
  background-color: #69c9a3;
  color: #fff;
}

header {
  padding: 180px 0px 165px 0px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  margin-top: -70px;
}

header h1, header p {
  color: #fff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: salmon;
  color: #fff;
}

header .btn-get-started:hover {
  background-color: #ffaa69;
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}

.stats-detail {
  padding-top: 15px;
  background-color: #fff;
}

.stats-detail h2 {
  font-size: 30px;
  margin-bottom: 0;
  text-align: center;
}

.stats-detail p {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.section-popular {
  min-height: 540px;
  background-color: #1ABC9C;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 120px;
}

.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: #fff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display',serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #000;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 26px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: salmon;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #ffaa69;
  color: #fff;
}

.section-network {
  background-color: #fff;
  margin-top: -200px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-network h2 {
  font-family: 'Playfair Display',serif;
  font-weight: bold;
}

.section-network p {
  font-size: 18px;
}

.section-network img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#1ABC9C));
  background: linear-gradient(#fff 0%, #1ABC9C 100%);
  padding-top: 50px;
  min-height: 300px;
}

.section-testimonial-heading h2 {
  font-family: 'Playfair Display',serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -100px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  color: #6e6e6e;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: salmon;
  color: #fff;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #ffaa69;
  color: #fff;
}

.section-testimonial-content .btn-need-help {
  background-color: #f2f2f2;
  color: grey;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: grey;
  color: #fff;
}

.section-footer a {
  color: #071c4d;
}

.section-details-header {
  min-height: 310px;
  background: #e4e6e8;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #1ABC9C;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content h1 {
  font-weight: bold;
  color: #1ABC9C;
  font-size: 24px;
}

.section-details-content h2 {
  font-weight: bold;
  color: #1ABC9C;
  margin-top: 20px;
  font-size: 20px;
}

.section-details-content p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content h3 {
  font-size: 18px;
  color: #1ABC9C;
  margin-bottom: 0;
}

.section-details-content p {
  margin-bottom: 0;
}

.section-details-content .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .description .features-image {
  margin-top: 13px;
  width: 25px;
  float: left;
}
/*# sourceMappingURL=main.css.map */